/* theme colors */
:root> * {
    --md-primary-fg-color:        #320064;
    --md-primary-fg-color--light: #666666;
    --md-primary-fg-color--dark:  #262626;
    --md-footer-bg-color: #320064;

    --md-accent-fg-color: #C84E00;
    --md-typeset-a-color: #0577B1;
  }

.md-banner {
  background-color: rgb(221, 59, 59)
}

.announce a{
  color: white;
  font-weight: bold;
}

.announce a:focus,
.announce a:hover
{
  color: rgb(248, 214, 214);
  font-weight: bold;
}

.accent-text {
  color: #d21f08;
  font-weight: bold;
}

.larger-text {
  font-size: larger;
}

.callout {
  background-color: #f2f4f5;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  padding-top: 0.2rem;
}

.rt-button {
  border: 1px solid #cccccc;
  border-radius: 3px;
  height: 1.5em !important;
  padding: 3px;
}

h3 {
  border-bottom:1px solid #cccccc;
}
